.header{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgb(143, 3, 3) ;
    padding: 20px;

    
    
 }
 .geral{
     display: flex;
     margin: 20px;
     padding: 20px ;
     text-decoration: none;
     color: white;
    
 }

 
